{% extends 'base.html' %}
{% block head %}
    <title>Operazione completata</title>
{% endblock %}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'home' %}">JustSoccer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Password reimpostata con successo!</h1>
        <p>La tua password è stata modificata con successo, puoi effettuare il login attraverso la <a href="{% url 'login' %}">log in page</a>.</p>
    </div>
{% endblock %}