{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Modifica Password</title>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Modifica password</h5>
                    </div>
                    <form class="form-signin" method="post">
                        {% csrf_token %}
                        <div class="form-label-group " style="margin: 10px">
                            {{ form | crispy }}
                        </div>
                        <div style="margin: 10px">
                            <button class="btn-lg btn-outline-primary btn-block my-4 waves-effect z-depth-0"
                                    type="submit">Modifica
                            </button>
                        </div>
                    </form>

{% endblock %}