{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
    <title>Registrati</title>
{% endblock %}
{% block body %}
    <div class="container">

        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.username | as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.email |as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.password1 | as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.password2 |as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.first_name | as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.last_name |as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.ddn | as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.citta |as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.telefono |as_crispy_field }}
                </div>
                {% if form.p_iva.id_for_label == 'id_p_iva' %}
                    <div class="form-group col-md-6">
                        {{ form.p_iva |as_crispy_field }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Registrami</button>
        </form>
    </div>
    <script src= {% static 'accounts/javascript/isNumber.js' %}></script>
{% endblock body %}