{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}<title>Home</title>{% endblock %}



{% block div_class %}
    {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group row center" style="margin-left: 10%">
            <div class="col-lg-4">
                {{ form.citta | as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.giorni_apertura | as_crispy_field }}
            </div>
            <div class="col-lg-4">
                {{ form.orario_apertura | as_crispy_field }}
            </div>
        </div>
        <hr class="my-4 pb-2">
        <input type="submit" class="btn btn-primary"
               value="Cerca!">
        <a href="{% url 'search' %}">
    </form>
    <input type="button" class="btn btn-default"
           value="Ricerca avazanta">
    </a>
{% endblock %}
{% block div_class_dx %}

{% endblock %}


